*.weights filter=lfs diff=lfs merge=lfs -text
train/BehavioralCloningBuildVillageHouse.weights filter=lfs diff=lfs merge=lfs -text
train/BehavioralCloningCreateVillageAnimalPen.weights filter=lfs diff=lfs merge=lfs -text
train/BehavioralCloningFindCave.weights filter=lfs diff=lfs merge=lfs -text
train/BehavioralCloningMakeWaterfall.weights filter=lfs diff=lfs merge=lfs -text
